<p id="notice"><%= notice %></p>

<h1>Bicycles</h1>
<%= link_to 'Add Bicycle', new_bicycle_path %>
<div class="grid-container" >
        <% @bicycles.each do |bicycle| %>
            <figure class="cycle shadow-lg p-3 mb-5 bg-white rounded">
                <h5><%= bicycle.name %> (<%= bicycle.frame_number %>)</h5>
                <img class="img-thumbnail" src="" alt="">
                <figcaption> <table>
                              <tr>
                                <td colspan="2">
                                <strong>First available time</strong> 
                                </td>
                              </tr>
                              <tr>
                                <td><%= bicycle.available_from %> </td>
                                <td><%= bicycle.available_till %> </td>               
                              </tr>
                              <tr>  
                                <td><%= link_to 'Show', bicycle %></td>
                                <td><%= link_to 'Reserve', new_reservation_path %></td>
                              </tr>
                            </table>
                </figcaption>
                
            </figure>
        <% end %>
</div>

<br>

