<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bicycle_id %>
    <%= form.collection_select :bicycle_id, Bicycle.all, :id, :name, prompt:true %>
  </div>

  <div class="field">
    <%= form.label :date_from %>
    <%= form.datetime_select :date_from %>
  </div>

  <div class="field">
    <%= form.label :date_to %>
    <%= form.datetime_select :date_to %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :user_name, prompt:true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :reserv_type, 'Reservation Type' %>
    <%= form.select :reserv_type, [['In Service','S'],['Unavailable','U'],['Reservation','R']] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
