<p id="notice"><%= notice %></p>

<h1>Reservations</h1>
<%= link_to 'New Reservation', new_reservation_path %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Bicycle</th>
      <th scope="col">Reserved from</th>
      <th scope="col">Till</th>
      <th scope="col">Employee</th>
      <th scope="col">Description</th>
      <th scope="col">Reservation Type</th>
      <th  scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr data-reservation-id="<%= reservation.id %>">
        <td data-reservation-attribute="bicycle"><%= reservation.bicycle.name %></td>
        <td data-reservation-attribute="date_from"><%= reservation.date_from.strftime("%H:%M %a %d-%b-%Y") %></td>
        <td data-reservation-attribute="date_to"><%= reservation.date_to.strftime("%H:%M %a %d-%b-%Y") %></td>
        <td data-reservation-attribute="user"><%= reservation.user.user_name %></td>
        <td data-reservation-attribute="description"><%= reservation.description %></td>
        <td data-reservation-attribute="full_type"><%= reservation.full_type %></td>
        
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<br>


