<p id="notice"><%= notice %></p>

<p>
  <strong>Bicycle:</strong>
  <%= @reservation.bicycle.name %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @reservation.date_from.strftime("%H:%M %a %d-%b-%Y") %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @reservation.date_to.strftime("%H:%M %a %d-%b-%Y") %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user.user_name  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reservation.description %>
</p>

<p>
  <strong>Reservation Type:</strong>
  <%= @reservation.full_type %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
