@import "bootstrap";

// Place all the styles related to the bicycles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    
    @media (min-width: 10em) {
      grid-template-columns: repeat(auto-fit, 17em);
    }
  }

  .cycle{
    margin: 0;
    padding: 0;
    position: relative;
    height:23em;
    
    img {
      width: 100%;
      display: block;
      max-height: 15em;
      max-width: 15em;
    }
    figcaption{
        position: absolute;
        bottom: 1em;
        width: 95%;
        table{
            width:95%;
            text-align: center;
        }
    }
  }