<!DOCTYPE html>
<html>
  <head>
    <title>Velo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 sticky-top">
          <a class="navbar-brand" href="/">ReservMe</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">            
                <%= link_to 'Bicycles', bicycles_path, html_options = {:class=>"nav-link"} %> 
              </li>
              <li class="nav-item">
                <%= link_to 'Users', users_path, html_options = {:class=>"nav-link"} %> 
              </li>
              <li class="nav-item">
                <%= link_to 'Reservations', reservations_path, html_options = {:class=>"nav-link"} %> 
              </li>
              
            </ul>
              
          </div>
        </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
